header{
    position: static;
    background-color: darkred;
    text-decoration: none;
}
body{
    background-image: url(image/pra.jpg);
}
a{
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    font-size: 30px;
}
.text_1{
    background-color: brown; 
    color:blanchedalmond;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}
.wiki{
    display: inline-block;
    color: blanchedalmond;
    background-color: brown;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 6px;
}
